.backgroup {
    width: 600px;
    background-color: azure;
    padding: 10px;
}

.ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.li {
    width: 30px;
    background-color: blue;
    color: white;
    border: 1px solid black;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.three {
    width: 30px;
    border: 1px solid black;
    background-color: rgb(79, 79, 229);
    color: white;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arow {
    border: 1px solid black;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

