.alert {
    width: 500px;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
  }
  
  .alert--success {
    background-color: #f0fff4;
    color: #16a34a;
  }
  
  .alert--info {
    background-color: #f0f9ff;
    color: #0369a1;
  }
  
  .alert--warning {
    background-color: #fffbeb;
    color: #ca8a04;
  }
  
  .alert--error {
    background-color: #fef2f2;
    color: #dc2626;
  }